{% extends 'base.html' %}

{% load widget_tweaks %}

{% block title %}Login{% endblock title %}

{% block content %}

<div class="container">
    <form method="post">
        {% csrf_token %}

        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Username</label>
            {% render_field form.username class+="form-control" %}
        </div>
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Password</label>
            {% render_field form.password type="password" class+="form-control"%}
        </div>
        <button type="submit" class="btn btn-primary mt-3">Submit</button>
    </form>
</div>
{% endblock content %}